<div class="container">
    <div class="row">
        <br>
        <div class="col s12 offset-m3 m6">
            <div class="card-panel z-depth-4">
				<h5 class="center">Ver estado</h1>
                <p id="notice"><%= notice %></p>

                <p>
                  <strong>Name:</strong>
                  <%= @status.name %>
                </p>

                <p>
                  <strong>Description:</strong>
                  <%= @status.description %>
                </p>

                <%= link_to 'Edit', edit_status_path(@status) %> |
                <%= link_to 'Back', statuses_path %>

            </div>
	    </div>
	</div>
</div>
