<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @notification.date %>
</p>

<p>
  <strong>Message:</strong>
  <%= @notification.message %>
</p>

<p>
  <strong>Pqr:</strong>
  <%= @notification.pqr %>
</p>

<p>
  <strong>User:</strong>
  <%= @notification.user %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
