<p id="notice"><%= notice %></p>

<p>
  <strong>Pqr:</strong>
  <%= @answer.pqr %>
</p>

<p>
  <strong>User:</strong>
  <%= @answer.user %>
</p>

<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
