<div class="container">
    <div class="row">
        <br>
        <div class="col s12">
            <div class="card-panel">
				<h5 class="center">PQR # <%= @pqr.id %></h1>
                <p id="notice"><%= notice %></p>
                <big>
                    <p class="">
                        <strong>Primer nombre:</strong>
                        <%= @pqr.first_name %>
                    </p>

                    <p class="">
                        <strong>Apellido:</strong>
                        <%= @pqr.last_name %>
                    </p>

                    <p class="">
                        <strong>Correo:</strong>
                        <%= @pqr.email %>
                    </p>

                    <p class="">
                        <strong>Titulo:</strong>
                        <%= @pqr.title %>
                    </p>

                    <p class="">
                        <strong>Asunto:</strong>
                        <%= @pqr.subject %>
                    </p>

                    <p class="">
                        <strong>Cuerpo:</strong>
                        <%= @pqr.body %>
                    </p>

                    <p class="">
                        <strong>Estado:</strong>
                        <%= @pqr.status_id %>
                    </p>

                    <p class="">
                        <strong>Fecha creacion:</strong>
                        <%= @pqr.creation_date %>
                    </p>

                    <p class="">
                        <strong>Fecha vencimiento:</strong>
                        <%= @pqr.expiration_date %>
                    </p>

                </big>

                <%= link_to 'Edit', edit_pqr_path(@pqr) %> |
                <%= link_to 'Back', pqrs_path %>

            </div>
	    </div>
	</div>
</div>
