<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @pqr.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pqr.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pqr.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pqr.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @pqr.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @pqr.body %>
</p>

<p>
  <strong>Creation date:</strong>
  <%= @pqr.creation_date %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @pqr.expiration_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @pqr.user %>
</p>

<p>
  <strong>Pqr files:</strong>
  <%= @pqr.pqr_files %>
</p>

<%= link_to 'Edit', edit_pqr_path(@pqr) %> |
<%= link_to 'Back', pqrs_path %>
