<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
        <div class="field col s12">
            Usuario que realiza la accion
            <select name="log[user_id]">
                <option  value="0" disabled selected> Seleccione una opción </option>
                <% User.all.each do |r| %>
                <option value="<%= r.id %>"> <%= r.first_name %> <%= r.last_name %> </option>
                <% end %>
            </select>
        </div>

        <div class="field col s12">
            PQR al cual se le realiza la accion
            <select name="log[pqr_id]">
                <option  value="0" disabled selected> Seleccione una opción </option>
                <% Pqr.all.each do |r| %>
                <option value="<%= r.id %>"> PQR # <%= r.id %> (<%= r.title %>) </option>
                <% end %>
            </select>
        </div>

    </div>

  <div class="field">
    <%= form.label :action %>
    <!-- <%= form.text_field :action %> -->
    <select name="log[action]" id="">
        <option  value="0" disabled selected> Seleccione una opción </option>
        <option value="Create">Create</option>
        <option value="Update">Update</option>
        <option value="Delete">Delete</option>
    </select>
  </div>

  <div class="field">
    <%= form.label :backup %>
    <%= form.text_area :backup %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
