<!DOCTYPE html>
<html>
  <head>
    <title>PQRS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
     <%= render 'base/header' %>
  <body>
    <%= yield %>
    <br>
    <%= render 'base/footer' %>
  </body>

     <script>
         $('body').addClass('pink darken-4');
     </script>
</html>
