<!DOCTYPE html>
<html>
  <head>
    <title>PQRS System | ABC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
     <%= render 'base/header' %>
  <body>
    <%= yield %>
    <br>
    <%= render 'base/footer' %>
  </body>

     <script>
         $('body').addClass('pink darken-4');
     </script>
</html>
